<section class="container formUser userlogin">
  <h2>LOGIN</h2>
  
  {{!-- <form action="/api/sessions/login" method="POST"> --}}
   <form id="loginForm">
    <input type="email" name="email" id="email" placeholder="Email" />
    <input type="password" name="password" id="password" placeholder="Contraseña" />
    <input type="submit" value="Enviar" />
    </label>
  </form>
  <section>
    <a href="/register">Registrarse</a>
  </section>
</section>

<script src="/js/login.js"></script>