<section class="container formUser userregister">
  <h2>REGISTRO</h2>

  {{!-- <form action="/api/sessions/registro" method="POST"> --}}
  <form id="registerForm">
    <input type="text" name="first_name" id="first_name" placeholder="Nombre" />
    <input type="text" name="last_name" id="last_name" placeholder="Apellido" />
    <input type="number" name="age" id="age" placeholder="Edad" />
    <input type="email" name="email" id="email" placeholder="Email" />
    <input type="password" name="password" id="password" placeholder="Contraseña" />
    <input type="submit" value="Enviar" />
  </form>
</section>

<script src="/js/register.js"></script>