<header>
  <nav>
    <a href="/">Ir a Home</a>
    <a href="/realTimeProducts">Ir a realTimeProducts</a>
    <a href="/products">Ir a Products</a>
    <a href="/carts">Ir a carritos</a>
  </nav>
</header>