<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/standard.css">
  <title>Entrega Final</title>
</head>
<body>
  <header>
    <h1>Entrega Final</h1>
    <h2>{{pageTitle}}</h2>    
    <div>
      <p>Bienvenido: {{user.first_name}} </p>
      <button id="logoutForm">Logout</button>
    </div> 
  </header>
  <main>
    {{{body}}}
  </main>
</body>
<script src="/js/logout.js"></script>
</html>